.todo{
   position: relative;
   min-height: 100vh;
   max-height: auto;
   
}



.todoupdate{
  position:absolute;
  top:100px;
  left:320px;
  width: 50vw;
  min-height: 50vh;
  max-height: auto;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  position: fixed;
  display: none;
  
}

.todoupdate input ,textarea{
  width: 100%;
  height: 40px;
  margin: 10px;
  border: none;
  outline: none;
  border-radius: 5px; 
  padding-left: 10px;
}